{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'public/css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" defer></script>
    {% block extra_style %}
    {% endblock %}
</head>
<body class="bg-gradient-green-blue flex items-center justify-center min-h-screen">

{% block body %}
{% endblock %}


  <script rel="" src="{% static 'public/js/sign.js' %}"></script>
  {% block extra_script %}
  {% endblock %}

</body>

</html>